body {
  background-color: #e1e5f7;
  min-height: 2500px;
}

/* nav box */

header {
  background-color: #9779eb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
}

nav li {
  flex: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
  height: 40px;

}

.content {
  position: absolute;
  width: 300px;
  height: 250px;
  display: inline-block;
  vertical-align: middle;
  z-index: 500;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap{
  display: flex;
  flex-direction: row;

}

.aBox {
  background-color: #f4d2d2;
}

.bBox {
  background-color: #feebb6;
}

.cBox {
  background-color: #ddecca;
}

.dBox {
  background-color: #b8e9ff;
}

.mainBox1 {
  padding: 0px;
  margin-top: 70px;
  width: 100%;
  height: auto;
  background-image: url("../img/1a.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  /* background-position: center; */
}

.sideA {
  margin-top: 8px;
  float: left;
  position: absolute;
  width: 30px;
  height: 760px;
}

.mainBox2 {
  padding: 0px;
  position: relative;
  width: 100%;
  height: 780px;
  background-color: white;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  /* background-position: center; */
}

.mainBox3 {
  padding: 0px;
  position: relative;
  width: 100%;
  height: 780px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  /* background-position: center; */
}

.center {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

/* .imgTest{
    width: 1080px;
    
    image: 100px 100px url("../img/2.png")
} */

.memoBox {
  width: 300px;
  height: 200px;
  position: absolute;
}

.check {
  border: 1px solid green;
}

/* section test */
/* jquery fullpage를 바탕으로 학습 및 코드작성 */
/* .fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !absolute;
  display: table;
  table-layout: fixed;
  width: 100%;
} */

/* section test end */

/* footer 라인 */
footer {
  width: 100%;
  height: 400px;
  background-color: gray;
}

.test_parent {
  width: 100%;
  height: 400px;
  position: relative;
}

.ft_items {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  text-align: center;
  margin: 0 auto;
  background-color: #cacaca;
  /* margin: 0 -5px; */
  font-size: 0px;
}

.ft_item {
  width: 40%;
  height: 250px;
  /* padding: 0 5px; */

  text-align: center;
  box-sizing: border-box;
  background-color: white;

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */

  display: inline-block;
  vertical-align: middle;
}

.test_parent .ft_items .ft_item .inner {
  height: 200px;
  font-size: initial;
  background-color: aliceblue;
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.test_parent .ft_items .ft_item .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.ft-hidden {
  /* 임시설정 나중에 수정할 것.*/
  height: 400px;
  visibility: hidden;
}

/* footer 라인 end */
