body{
    background-color:#E1E5F7;
}

.container{
    background-image: url('../img/1.png');
}

.center{
    text-align: center;
}
/* .imgTest{
    width: 1080px;
    
    image: 100px 100px url("../img/2.png")
} */

.memoBox{
    width: 300px;
    height: 200px;
    
}

.pink{
    background-color: #F4D2D2;
}

.check{
    border: 1px solid green;
}